/// TODO: Make component wrappers for container, grid and flexbox for reuse

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

// .grid-container {
//   max-width: 120rem;
//   margin: 0 auto;
//   padding: 0 3.2rem;
// }

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 84em) {
  .container {
    column-gap: 5rem;
    row-gap: 7rem;
  }
}

@media (max-width: 75em) {
  .container {
    column-gap: 4.5rem;
    row-gap: 6.9rem;
  }
}

@media (max-width: 59em) {
  .container {
    row-gap: 6.8rem;
  }
}

@media (max-width: 34em) {
  .container {
    row-gap: 6.5rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
}
