// TODO: Shadows, re-organize color variables.

:root {
  --color-primary: #84a598;
  --color-primary-dark: #354c44;
  --color-secondary: #233349;
  --color-secondary-light: rgba(230, 197, 104, 0.4);

  --color-tertiary: #d9a398;
  --color-tertiary-dark: #f7c278;

  --color-background-two: #eaeede;
  --color-background: rgb(255, 255, 255);

  --color-blue-dark: #233349;
  --color-blue-light: #7794be;
  --color-black: #444;

  // TODO: Shades
  // $color-grey-light-1: #f7f7f7;
  // $color-grey-light-2: #eee;

  // $color-grey-dark: #777;
  // $color-grey-dark-2: #999;
  // $color-grey-dark-3: #333;
}

p,
li,
h1,
h2,
h3,
h4 {
  // Help prevent overflow of long words/names/URLs
  word-break: break-word;

  // Optional, not supported for all languages:
  hyphens: auto;

  // Clear top margin
  margin-top: 0;
}
