:root {
  --color-primary: #84a598;
  --color-primary-dark: #354c44;
  --color-secondary: #233349;

  --color-tertiary: #d9a398;
  --color-tertiary-dark: #f7c278;

  // --color-secondary: #606c38;
  // --color-tertiary: #354c44;

  --color-background-two: #eaeede;
  --color-background: rgb(255, 255, 255);

  --color-blue-dark: #233349;
  --color-blue-light: #7794be;
  --color-black: #000;
}

p,
li,
h1,
h2,
h3,
h4 {
  // Help prevent overflow of long words/names/URLs
  word-break: break-word;

  // Optional, not supported for all languages:
  hyphens: auto;

  // Clear top margin
  margin-top: 0;
}
