.about-section {
  padding: 12.5rem 0;
  place-content: center;
  background-color: var(--color-background-two);
}

.profile {
  display: grid;
  /* gap: 1rem; */
  grid-auto-columns: 1fr;
  grid-template-areas:
    'image name'
    'image description';
  max-width: 85%;
  margin: 0 auto;
}

.profile__image {
  border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
  grid-area: image;
  max-width: 75%;
  align-self: center;
  justify-self: center;
}

.profile__name {
  grid-area: name;
  justify-self: start;
  align-self: end;
  margin: 0 0 0 1.1rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: var(--color-primary-dark);
  font-size: 2.8rem;
  line-height: 1.05;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.profile__description {
  margin: 1rem 0 0 1.3rem;
  grid-area: description;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  max-width: 100%;
}

@media (max-width: 75em) {
  .about-section {
    padding: 10.5rem 0;
  }
}

@media (max-width: 59em) {
  .profile__name {
    font-size: 2.5rem;
  }
}

@media (max-width: 44em) {
  .about-section {
    padding: 9.5rem 0;
  }

  .profile {
    grid-template-areas:
      'image'
      'name'
      'description';
  }

  .profile__image {
    margin-bottom: 1.5rem;
    max-width: 70%;
  }

  .profile__name {
    grid-area: name;
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
    font-size: 2.5rem;
  }

  .profile__description {
    justify-self: center;
    align-self: center;
    padding: 1rem 0;
  }
}

@media (max-width: 34em) {
  .profile {
    max-width: 95%;
  }

  .profile__image {
    margin-bottom: 5rem;
  }

  .profile__name {
    margin: 0;
  }
}
