.section-hero {
  background-color: var(--color-background-two);
  padding: 4.8rem 0 9.6rem 0;
}

header {
  max-width: 130rem;
  height: 65vh;
  max-height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-text-box {
  padding: 0 0.1rem;
  // background-color: var(--co);

  h1 {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 1rem;
  }
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 0.5rem;
  padding: 0.3rem 0;
  color: rgb(43, 43, 43);
}

.hero-img {
  transform: rotateZ(-3deg);
  width: 100%;
  height: min(45vh, 600px);
  object-fit: cover;
  // object-position: 5vw 5vmin;
}

@media (max-width: 84em) {
  header {
    padding: 0 3rem;
  }
}

@media (max-width: 75em) {
  header {
    padding: 0 2.9rem;
    gap: 7rem;
  }
}

@media (max-width: 59em) {
  header {
    padding: 0 2rem;
    gap: 5rem;
  }

  .hero-img {
    width: 95%;
    height: min(42vh, 600px);
  }
}

@media (max-width: 44em) {
  header {
    grid-template-columns: 1fr;
    gap: 4rem;
    align-items: center;
    padding: 0 2rem;
  }

  .hero-text-box {
    padding: 0.2rem;
    text-align: center;
  }

  .description {
    padding: 0.5rem 0;
    font-size: 1.4rem;
  }

  .hero-img {
    height: min(35vh, 600px);
  }
}
