.section-form {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
  padding: 8rem 0 15rem 0;

  h2 {
    padding-top: 2rem;
    color: var(--color-primary-dark);
  }

  h3 {
    color: var(--color-background-two);
  }
}

form.form {
  display: grid;
  width: 75%;
  margin: 0 auto;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
}

// .form {
//   display: grid;
// }

input.form__input,
select.form__input {
  box-shadow: 0 1.6rem 1.8rem rgba(#444, 0.1);
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #444;
  padding: 1.8rem 2rem;
  border-radius: 2px;
  background-color: rgba(#fff, 0.6);
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 4px;
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

label.form__label {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-left: 2.1rem;
  padding-bottom: 0.8rem;
  padding-top: 1.8rem;
  display: block;
  transition: all 0.3s;
  letter-spacing: 1px;
}

input.form__input::placeholder-shown + label.form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

// .form-container {
//   width: 100vw;
//   height: 40vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
//   font-size: 1.8rem;
//   margin-bottom: 3rem;
// }

.form-button {
  display: inline-block;
  background-color: var(--color-background);
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.45rem 5.5rem;
  border-radius: 10rem;
}
button.form-button {
  display: grid;
  margin: 4.5rem 0 0 15.5rem;

  cursor: pointer;
  transition: all 0.3s;
}

.form-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

@media (max-width: 34em) {
  .section-form {
    padding: 9rem 0 15rem 0;
  }

  .form-container {
    width: 95vw;
    height: 45vh;
    margin: 0 auto;
  }

  .form-control {
    font-size: 1.9rem;
  }

  .custom-field {
    margin-bottom: 1.5rem;
  }

  button.form-button {
    display: grid;
    margin: 5.5rem 0 0 16.5rem;
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.78em;
  height: 0.8em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type='checkbox']:checked::before {
  transform: scale(1.1);
}

input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type='checkbox']:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

//  {/* <input type="radio" name="checkbox-checked" value="Wedding" />
//           <p> wedding</p>

//           <input type="radio" name="checkbox-checked" value="Family" />
//           <p> Family</p> */}
