.section-service {
  padding: 12.6rem 0;
}
.service-text-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;

  h3 {
    align-self: flex-start;
    margin: 0.7rem 0;
  }
}

.description {
  font-size: 1.8rem;
  line-height: 1.8;
}
// .step-number
// .number {
//   font-size: 9.8rem;
//   font-weight: 600;
//   color: var(--color-primary);
//   margin-bottom: 1.2rem;
// }

// .service-icon {
//   // background-color: antiquewhite;
//   padding-right: 1rem;
//   width: 200px;
//   height: 200px;
//   transform: rotateZ(0.1deg);
// }

// // .step-description

.service-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.service-img {
  width: auto;
  height: min(65vh, 600px);
  transform: rotateZ(-4.3deg);
}

@media (max-width: 84em) {
  .service-img {
    height: min(64vh, 600px);
    transform: rotateZ(-4.3deg);
  }
}

@media (max-width: 75em) {
  .service-img-box {
    padding: 1.8rem;
  }
  .service-img {
    height: min(63vh, 600px);
    transform: rotateZ(-4.3deg);
  }
}

@media (max-width: 59em) {
  .service-img {
    height: min(60vh, 600px);
  }

  .description {
    font-size: 1.7rem;
  }
}

@media (max-width: 44em) {
  .service-img-box {
    overflow: hidden;
  }

  .service-img {
    height: min(65vh, 600px);
  }
}

@media (max-width: 34em) {
  .section-service {
    padding: 15rem 0;
  }

  .service-text-box {
    margin: 2.5rem 0;

    h3 {
      margin: 1rem 0 0.5rem 0;
    }
  }
  // .step-text-box {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: start;
  // }

  // .service-icon {
  //   width: 190px;
  //   height: 190px;
  // }

  .service-img-box:nth-child(2) {
    grid-row: 1;
  }
  .service-img-box:nth-child(6) {
    grid-row: 5;
  }

  .service-img {
    width: auto;
  }
}

// .service-img-box {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: 0.5s;
//   &::before {
//     content: '';
//     display: block;
//     border-radius: 50%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 60%;
//     padding-bottom: 60%;
//     background-image: linear-gradient(
//       to right bottom,
//       rgba(152, 236, 104, 0.432),
//       rgba(182, 255, 127, 0.185)
//     );
//     z-index: -2;
//   }
//   &::after {
//     content: '';
//     display: block;
//     border-radius: 50%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// }

// .heading-tertiary {
//   font-weight: 700;
//   color: var(--color-primary-dark);

//   letter-spacing: -0.5px;
//   font-size: 3rem;
//   line-height: 1.2;
//   margin-bottom: 3.2rem;
//   text-transform: uppercase;
// }
