nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--color-primary);
}

.logo h4 {
  font-family: 'Lumiera Handwriting';
  color: var(--color-background-two);
  transform: rotateZ(1deg);
  // text-transform: lowercase;
  letter-spacing: 1.9px;
  font-size: 3em;
}

.nav-links {
  display: flex;
  width: 30%;

  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: var(--color-background-two);
  text-decoration: none;
  letter-spacing: 1.3px;
  font-size: 1.8rem;
  text-transform: lowercase;
  cursor: pointer;
  border: none;
  transition-duration: 350ms;
  transition-timing-function: ease 0.3s;

  &:link,
  &:visited {
    color: var(--color-background-two);
  }

  &:hover,
  &:active {
    color: var(--color-primary-dark);
    font-size: 1.7rem;

    transform: translateY(-4px);
  }
}

@media (max-width: 84em) {
  .nav-links {
    width: 45%;
  }
}

/// Landscape Below 1200px
@media (max-width: 75em) {
  .nav-links {
    width: 55%;
  }
}

@media (max-width: 59em) {
  .nav-links {
    width: 50%;
  }
}

// Small Tablet Below 704px
@media (max-width: 44em) {
  nav {
    align-items: center;
    min-height: 6.5vh;
  }

  .logo h4 {
    letter-spacing: 1.8px;
    font-size: 2.2em;
  }

  .nav-links a {
    font-size: 1.4rem;
  }
}

@media (max-width: 34em) {
  .nav-links {
    width: 45%;
  }

  .logo h4 {
    font-size: 2em;
  }

  .nav-links a {
    font-size: 1.2rem;
  }
}
