nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--color-primary);
}

.logo h4 {
  font-family: 'Lumiera Handwriting';
  color: var(--color-background-two);
  // text-transform: lowercase;
  letter-spacing: 1.8px;
  font-size: 2.5em;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: var(--color-background-two);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.6rem;
}

/// Landscape Below 1200px

@media (max-width: 75em) {
  .nav-links {
    width: 60%;
  }
}

// Small Tablet Below 704px
@media (max-width: 44em) {
  nav {
    align-items: center;
    min-height: 6.5vh;
  }

  .nav-links {
    width: 40%;
  }

  .nav-links a {
    font-size: 1.4rem;
  }
}
