.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  // font-family: 'Rubik', sans-serif, Menlo;
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #444;
  overflow: hidden;
  background-color: var(--color-background);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.6rem 4rem;
  border-radius: 5rem;
  position: relative;
  margin: 0 1rem;
  color: var(--color-primary-dark);

  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s ease-in;
  background-color: var(--color-background);
}

.btn:hover {
  background-color: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(#444, 0.2);
  color: var(--color-background-two);
}

@media (max-width: 44em) {
  .btn {
    padding: 1.6rem 3.5rem;
    font-size: 1.666rem;
  }
}
